* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    font-family: 'Rubik', sans-serif;
}

.custom-header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
    padding: 40px 40px 40px 40px;
}

.custom-header.visible {
    background: linear-gradient(135deg, rgba(60, 8, 118, 1) 0%, rgba(250, 0, 118, 1) 100%);
}

.navbar-nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.nav-link {
    color: white !important;
    font-size: 14px;
}

.navbar-nav .btn {
    border-radius: 5px;
    padding: 6px 20px;
}

.custom-main {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);    color: white;
    padding-top: 60px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.custom-main h1 {
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: 300;
}
.custom-main p{
    opacity: 70%;
    font-weight: lighter;
}

.custom-main .tagline {
    font-size: 20px;
    margin-bottom: 30px;
}

.client-logos {
    padding: 50px 0;
    background-color: white;
    position: relative;
    z-index: 2;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.card.features {
    text-align: left;
    padding: 20px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    border-radius: 0;
    border-left: 3px solid #fc73b4;
}

.card.features span {
    font-size: 3rem;
    margin-right: 15px;
    color: #fc73b4;
}

.card.features h4 {
    color: #633991;
    margin-bottom: 10px;
}

.card-text {
    color: #8f8f8f;
    font-size: 0.9rem;
    font-weight: 400;
}

.iphone {
    position: absolute;
    top: 30%;
}

.light-bg {
    background-color: #faf6fb;
}

.footer {
    padding: 30px;
}

.section-title h3 {
    color: #633991;
    font-weight: bold;
}

  